
.body{
  background-color: rgb(245, 245, 245);
}
.body:hover{
  background-color: #3498db;
}

td{
  transition: all 10s ease-in-out;
}

.image{
  display: flex;
  width:32px;
  height: 32px;
  margin-left: 4px;
}

.numOfComments {
  text-align: center;
}

.numOfCommits{
  text-align: center;
}

.numOfpullRequests{
  text-align: center;
}
