.body{
  position: relative;
  background-color: rgb(245, 245, 245);
  transition: 0.25;
  animation: move 1s;
  position: -webkit-sticky;
  height: 40px;
  top: 0;
  display: grid;
  grid-template-columns:3% 5% 15% repeat(9, 1fr) 3%;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 10px;
  
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes move{

  0%{
      transform: translate(100%);
  }
  80%{
      transform: translate(1%);
  }
  100%{
      transform: translate(0%);
  }
}

.body:hover{
  background-color: #3498db;
}

td{
  transition: all 10s ease-in-out;
}

.image{
  position: relative;
  width:32px;
  height: 32px;
}

.accountName{
  position: relative;
}
.numCommentsOfPullRequests{
  text-align: center;
}

.numComments {
  text-align: center;
}

.numCommits{
  text-align: center;
}

.numpullRequests{
  text-align: center;
}

.numCommentsOfCommits{
  text-align: center;
}


.numEditsOfPage{
  text-align: center;
}
.numCommentsOfPages{
  text-align: center;
}
.numEditsOfBlogs{
  text-align: center;
}
.numCommentsOfBlogs{
  text-align: center;
}


.hide{
  animation: remove 30s;
}

@keyframes remove{

0%{
    transform: translate(0%);
}
2%{
  transform: translate(100%);
}
100%{
    transform: translate(1000%);
}

}