th {
    padding:5px;
    Color:white;
}

#head{
    background-color: #3498db;
    animation: loadHead 5s;
}

@keyframes loadHead{

    0%{
        background-color: #ffffff;

    }
    100%{
        background-color: #3498db;
    }
}

th text{
    position: relative;
    left: 30px;
}

.ico{
    text-align: center;
}

.name {
    text-align: center;
}

.jira_comments {
    text-align: center;
}

.bitBucket_Commits{
    text-align: center;
}

.bitBucket_PullRequests{
    text-align: center;
}
