#head{
    position: relative;
    top: 0;
    left: 0;
    background-color: #3498db;
    animation: loadHead 5s;
    width: 100%;
    display: inline-grid;
    grid-template-columns:3% 5% 15% repeat(9, 1fr) 3%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}

@keyframes loadHead{

    0%{
        background-color: #ffffff;

    }
    100%{
        background-color: #3498db;
    }
}

th text{
    position: relative;
    left: 30px;
}

.ico{
    text-align: center;
}

.name {
    text-align: left;
}

.jira_comments {
    text-align: center;
}

.bitBucket_Commits{
    text-align: center;
}

.bitBucket_PullRequests{
    text-align: center;
}

.bitBucket_comments_of_pullRequests{
    text-align: center;
}

.bitBucket_comments_of_commits{
    text-align: center;
}

.confluence_comments_pages{
    text-align: center;
}
.confluence_edits_pages{
    text-align: center;
}

.confluence_comments_blogs{
    text-align: center;
}
.confluence_edits_blogs{
    text-align: center;
}