<!DOCTYPE html>
<html lang="">
  <head>
    <title>Access</title>
    <link rel="stylesheet" type="text/css" href="/Addon/css/addon.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  </head>
  <body id="root">
      <div class="labels">
        <label class="label-Bitbucket">
          <img 
                id='imgBitBucket'
                src='/Addon/img/Bitbucket.png'
          />
          <button id="btn-bitBucket">AccessBitBucket</button>
        </label>
        <label class="label-jira">
          <img 
            id="imgJira"
            src="/Addon/img/jira.png">
          <button id="btn-jira">AccessJira</button>
        </label>
      </div>
        
      <script src="/Addon/js/access.js" type="module"></script>
  </body>
</html>
