<html lang="">
  <head>
    <title>LogIn</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Addon/css/addon.css">
  </head>
  <body>
    <div class="forms">
        <div id='loginForm'>
            <div class="inputs">
              <input id='email'  type="email" name="email" label="Email" value='antisoundworld@gmail.com'/>
              <p></p>
              <input id='password' type='password' name="password" label="password" value='Qweasdzxc117'/>
              <button id='auth-button'>Отправить</button>
            </div>
            <a href='/registration'>registration</a>
        </div>
    </div>
    <script src="/Addon/js/login.js" type="module"></script>
  </body>
</html>
