<!DOCTYPE html>
<html lang="">
  <head>
    <title>Registartion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Addon/css/addon.css">

  </head>
  <body>
      <div class="forms">
        <div id="registartionForm">
          <div class="inputs">
            <input id="email"  type="email" required placeholder="email">
            <p></p>
            <input id="password"  type="password" required placeholder="password">
            <p></p>
            <input id="comfirm-password"  type="password">
          </div>
          <button id="reg-button" type="submit">register</button>
        </div>
      </div>
    </div>
    <script src="/Addon/js/registartion.js" type="module"></script>
  </body>
</html>
