<!DOCTYPE html>
<html lang="">
  <head>
    <title>Registartion</title>
    <link rel="stylesheet" type="text/css" href="/Addon/css/addon.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  </head>
  <body id="root">
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">

          <form action="" class="sign-in-form">

            <div class="input-field">
              <i class="fas fa-user"></i>
              <input id="email" type="email" placeholder="email">
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input id="password" type="password" placeholder="password">
            </div>

              <div class="input-field">
              <i class="fas fa-lock"></i>
              <input id="comfirm-password" type="password" placeholder="comfirm-password">
            </div>

            <button class="reg-button" type="submit">register</button>

          </form>
        </div>
      </div>
    </div>
    <script src="/Addon/js/registartion.js" type="module"></script>
  </body>
</html>
