#rangeForm{
    position: absolute;
    top: 0;
    right: 0;
}

#start{
    padding: 5px 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

#end{
    padding: 5px 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

#range-button{
    padding: 5px 10px;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    transition: 0.5s;
    text-transform: uppercase;

}

#range-button:hover{
    background-color: #50b9ff;
    color: white;
}